header
    nav
        ul
            li: a(ui-sref="homepage") Home
            li: a(ui-sref="about") About
            li: a(href="https://github.com/jvandemo/deploy-harp-to-gh-pages-using-travis/") View on GitHub
